{% extends "base/base.html" %}

{% block title %}Welcome{% endblock %}

        	{% block main_content %}
            <section class="switchable bg--primary">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-5 col-md-7">
                            <div class="mt--2">
                                <h1>Developpement des interfaces graphiques<br></h1>
                                <p class="lead"> Build lean, beautiful websites with a clean and contemporary look to suit a range of purposes. </p>
                                <a class="btn btn--primary type--uppercase" href="#customise-template"> <span class="btn__text">
                            Launch The Builder
                        </span> </a> <span class="block type--fine-print">or <a href="index.html">view the demos</a></span> </div>
                        </div>
                        <div class="col-lg-7 col-md-5 col-12"> <img alt="Image" src="/static/base/img/device-2.png"> </div>
                    </div>
                </div>
            </section>
            <section class="bg--secondary">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="process-1">
                                <div class="process__item">
                                    <h4>Python Crash course 2<br></h4>
                                    <p> Stack is built with customization and ease-of-use at its core — whether you're a seasoned developer or just starting out, you'll be making attractive sites faster than any traditional HTML template. </p>
                                </div>
                                <div class="process__item">
                                    <h4>Python Crash course 1<br></h4>
                                    <p> Stack is built with customization and ease-of-use at its core — whether you're a seasoned developer or just starting out, you'll be making attractive sites faster than any traditional HTML template. </p>
                                </div>
                                <div class="process__item">
                                    <h4>Python Community Launch<br></h4>
                                    <p> Stack is built with customization and ease-of-use at its core — whether you're a seasoned developer or just starting out, you'll be making attractive sites faster than any traditional HTML template. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% endblock %}