{% extends "base/base.html" %}

{% block title %}Welcome{% endblock %}

        	{% block main_content %}
            <section class="switchable bg--primary">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-5 col-md-7">
                            <div class="mt--2">
                                <h1>Developpement des interfaces graphiques<br></h1>
                                <p class="lead">Apprenez à developper des applications de bureau professionnelles et attrayantes avec Python et Qt<br></p>
                                <a class="btn btn--primary type--uppercase" href="#customise-template"> <span class="btn__text">
							Launch The Builder
						</span> </a> <span class="block type--fine-print">or <a href="index.html">view the demos</a></span> </div>
                        </div>
                        <div class="col-lg-7 col-md-5 col-12"> <img alt="Image" src="/static/base/img/device-2.png"> </div>
                    </div>
                </div>
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            <h1>Python Cameroun<br></h1>
                            <p class="lead">We started a community to promote the usage of the Python in Cameroon, these are our goals<br></p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border"> <i class="icon icon-Pantone icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Objectif 1<br></h5>
                                    <p> Stack's visual style is simple yet distinct perfect for any project whether it be a basic marketing site, or multi-page company presence. </p> <a href="#">Learn More</a> </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border"> <i class="icon icon-Fingerprint icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Objectif 2<br></h5>
                                    <p> Launching an attractive website quickly and affordably is important for modern startups — Stack offers massive value with modern styling. </p> <a href="#">Learn More</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border"> <i class="icon icon-Pantone icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Objectif 3<br></h5>
                                    <p> Stack's visual style is simple yet distinct perfect for any project whether it be a basic marketing site, or multi-page company presence. </p> <a href="#">Learn More</a> </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border"> <i class="icon icon-Fingerprint icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Objectif 4<br></h5>
                                    <p> Launching an attractive website quickly and affordably is important for modern startups — Stack offers massive value with modern styling. </p> <a href="#">Learn More</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large bg--primary">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6"> <img alt="Image" class="border--round box-shadow-wide" src="/static/base/img/landing-11.jpg"> </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="switchable__text">
                                <h2>Py-Learner<br></h2>
                                <p class="lead">Py-Learner is a desktop application to learn Python.<br></p> <a href="#">Learn More »</a> </div>
                        </div>                        
                    </div>
                    <div class="row mt-5">
                    	<div class="col-12 text-center"><a href=""><button class="btn btn-primary pl-4 pr-4">More projects</button></a></div>
                    </div>
                </div>
            </section>
            <section class="testimonials-1 space--xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="lead"> Our partners </p>
                        </div>
                        <div class="col-md-8">
                            <ul class="list-inline social-list">
                                <li class="list-inline-item"> <img alt="Image" class="image--xxs" src="/static/base/img/partner-3.png"> </li>
                                <li class="list-inline-item"> <img alt="Image" class="image--xxs" src="/static/base/img/partner-2.png"> </li>
                                <li class="list-inline-item"> <img alt="Image" class="image--xxs" src="/static/base/img/partner-4.png"> </li>
                                <li class="list-inline-item"> <img alt="Image" class="image--xxs" src="/static/base/img/partner-5.png"> </li>
                                <li class="list-inline-item"> <img alt="Image" class="image--xxs" src="/static/base/img/partner-6.png"> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable bg--secondary">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-6 col-lg-5">
                            <div class="switchable__text">
                                <h2>Follow us for news, updates and competitions</h2>
                                <p class="lead"> Launching an attractive and scalable website quickly and affordably is important for modern startups — Stack offers massive value without looking 'bargain-bin'. </p>
                                <a class="btn btn--icon bg--twitter" href="#"> <span class="btn__text">
                            <i class="socicon socicon-twitter"></i>
                            Visit @pythoncameroun on Twitter
                        </span> </a><br><br><br>

                        		<a class="btn btn--icon bg--facebook" href="#"> <span class="btn__text">
                            <i class="socicon socicon-facebook"></i>
                            Visit @pythoncameroun on Facebook
                        </span> </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tweets-feed tweets-feed-1 bg--secondary" data-feed-name="pythoncameroun" data-amount="3"></div>
                        </div>
                    </div>
                </div>
            </section>
            {% endblock %}