{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Welcome{% endblock %}

        	{% block main_content %}
            <section class="switchable bg--primary">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-5 col-md-7">
                            <div class="mt--2">
                                <h1>{{ event.name }}<br></h1>
                                <p class="lead">{{ event.main_goal }}<br></p>
                                <a class="btn btn--primary type--uppercase" href="{% url 'event' event.id %}"> <span class="btn__text">
							{% trans "See more" %}
						</span> </a> </div>
                        </div>
                        <div class="col-lg-7 col-md-5 col-12"> <img alt="Image" src="{{ event.image.url }}"> </div>
                    </div>
                </div>
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            <h1>Python Cameroun<br></h1>
                            <p class="lead">We started a community to promote the usage of the Python in Cameroon, these are our goals<br></p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border"> <img src="{% static "base/img/speaker.png" %}" width="100px" alt="promote" />
                                <div class="feature__body">
                                    <h5>{% trans "Promote" %}<br></h5>
                                    <p>{% trans "Promote the usage of the Python in the Software Development and Science. Wheter it is in Web development, Desktop development or Data Science, show how good it is to use Python in these domains." %} </p> <a href="#social">{% trans "Learn more" %}</a> </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border"> <img src="{% static "base/img/teaching.png" %}" width="100px" alt="teach" />
                                <div class="feature__body">
                                    <h5>{% trans "Teach" %}<br></h5>
                                    <p>{% trans "Teach to aspiring developers and scientists Python. Organize meetups and conferences to share the knowledge among Python enthusiasts. Let's the individual knowledge becomes the community knowledge." %}</p> <a href="{% url 'events' %}">{% trans "Learn More" %}</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border"> <img src="{% static "base/img/development.png" %}" width="100px" alt="develop" />
                                <div class="feature__body">
                                    <h5>{% trans "Develop" %}<br></h5>
                                    <p>{% trans "Develop inclusive open source projects. Open Source projects are a great way to move the community towards and reach the fixed goals. Find open-minded developers for your next project." %}</p> <a href="#project">{% trans "Learn More" %}</a> </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border"> <img src="{% static "base/img/meeting.png" %}" width="100px" alt="meet" />
                                <div class="feature__body">
                                    <h5>{% trans "Meet" %}<br></h5>
                                    <p>{% trans "Meet the local Python developers and Python Scientists. Follow the international events, meet the international community and leverage facilities to let local Pythonistas to assist PyCON events." %}</p> <a href="#">Learn More</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large bg--primary" id="project">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6"> <img alt="Image" class="border--round box-shadow-wide" src="{{ project.image.url }}"> </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="switchable__text">
                                <h2>{{ project.name }}<br></h2>
                                <p class="lead">{{ project.description }}<br></p> <a href="{{ project.link }}">{% trans "Learn More" %}</a> </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                    	<div class="col-12 text-center"><a href=""><button class="btn btn-primary pl-4 pr-4">More projects</button></a></div>
                    </div>
                </div>
            </section>
            <section class="testimonials-1 space--xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="lead"> Our partners </p>
                        </div>
                        <div class="col-md-8">
                            <ul class="list-inline social-list">
                                <li class="list-inline-item"> <img alt="Image" class="image--xxs" src="/static/base/img/partner-3.png"> </li>
                                <li class="list-inline-item"> <img alt="Image" class="image--xxs" src="/static/base/img/partner-2.png"> </li>
                                <li class="list-inline-item"> <img alt="Image" class="image--xxs" src="/static/base/img/partner-4.png"> </li>
                                <li class="list-inline-item"> <img alt="Image" class="image--xxs" src="/static/base/img/partner-5.png"> </li>
                                <li class="list-inline-item"> <img alt="Image" class="image--xxs" src="/static/base/img/partner-6.png"> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable bg--secondary" id="social">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-6 col-lg-5">
                            <div class="switchable__text">
                                <h2>{% trans "Follow us for news, updates and competitions" %}</h2>
                                <p class="lead"> {% trans "We are a highly living community. To stay connected and follow our daily activities, please Connect with us on Twitter and Facebook." %} </p>
                                <a class="btn btn--icon bg--twitter" href="https://twitter.com/pythoncameroun/"> <span class="btn__text">
                            <i class="socicon socicon-twitter"></i>
                            Visit @pythoncameroun on Twitter
                        </span> </a><br><br><br>

                        		<a class="btn btn--icon bg--facebook" href="https://facebook.com/pythoncameroun/"> <span class="btn__text">
                            <i class="socicon socicon-facebook"></i>
                            Visit @pythoncameroun on Facebook
                        </span> </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tweets-feed tweets-feed-1 bg--secondary" data-feed-name="pythoncameroun" data-amount="3"></div>
                        </div>
                    </div>
                </div>
            </section>
            {% endblock %}
