{% extends "base/base.html" %}

{% block main_content %}
<style>
    .pagination {
    text-align: center;
    margin-top: 1em;
}

.pagination a {
    text-decoration: none;
}

.pagination-number {
    padding: 0.5em 0.8em;
    border-radius: 2px;
    color: #fff;
    background-color: rgb(23, 161, 230);
}

.pagination-number:hover,
.pagination-current {
    background-color: rgb(23, 161, 230);
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.5em;
    color: #B9B9B9;
    font-size: 1.3em;
}

.pagination-action:hover,
.pagination-previous,
.pagination-next {
    color: #3354AA;
}


</style>
<section class="team-section text-center my-5">
    <center>
        <h1>MEMBERS</h1> 
    </center>
    <div class="container">
        <div class="row">  
            {% for user in users%}
            <div class="col-sm-4" style="margin-top: 50px !important;"> 
                <div class="avatar mx-auto">
                    <img src="/static/base/img/avatar.png" class="rounded-circle z-depth-1"
                    alt="Sample avatar" style="width: 80px;">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">
                    {{user.username}}
                </h5>
                <a href="{% url 'profile' user.username %}" class="btn btn--primary type--uppercase"><span class="btn__text">Profil</span></a>
            </div>
            {% endfor%}
        </div>
    </div>  
</section>
<div class="pagination">
    {% if users.has_previous %}
        <a class="pagination-action" href="?page=1">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> 
        </a>
        <a class="pagination-action" href="?page={{ users.previous_page_number }}">
            <i class="fa fa-angle-left" aria-hidden="true">Previous</i>
        </a>
    {% endif %}
    {% for num in users.paginator.page_range %}
        {% if users.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num > users.number|add:'-3' and num < users.number|add:'3' %}
            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if users.has_next %}
        <a class="pagination-action" href="?page={{ users.next_page_number }}">
            <i class="fa fa-angle-right" aria-hidden="true">Next</i>
        </a>
        <a class="pagination-action" href="?page={{ users.paginator.num_pages }}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
    {% endif %}
</div>
</center><br><br>
{% endblock %}