{% extends "base/base.html" %}

{% block main_content %}
<center>
    <div style="margin-top: 50px;">
        <h2>PROJECTS MEMBERS</h2>
        <span>{{projet.name}}</span>
    </div>
</center>
<section class="team-section text-center my-5">
    <div class="container">
        <div class="row">   
            {% for member in members%}
            <div class="col-lg-4 col-md-6 mb-lg-0 mb-5"> 
                <div class="avatar mx-auto">
                    <img src="/static/base/img/avatar.png"  class="rounded-circle z-depth-1"
                    alt="Sample avatar" style="width: 150px;">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">
                    {{member}}
                </h5>
                <a href="{% url 'profile' member %}" class="btn btn--primary type--uppercase"><span class="btn__text">Profile</span></a>
            </div>
            {% endfor%}
        </div>
    </div>  
</section>
{% endblock %}