{% extends "base/base.html" %}

{% block main_content %}
<center>
    <h2>Membres du Projet</h2>
    <span>{{name}}</span>
</center>
<section class="team-section text-center my-5">
    <div class="container">
        <div class="row">   
            {% for pro in projet%}
            <div class="col-lg-4 col-md-6 mb-lg-0 mb-5"> 
                <div class="avatar mx-auto">
                    <img src="#" class="rounded-circle z-depth-1"
                    alt="Sample avatar" style="width: 150px;">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">
                    {{pro.members}}
                </h5>
                <a href="{% url 'profile' user.username %}" class="btn btn--primary type--uppercase"><span class="btn__text">Profil</span></a>
            </div>
            {% endfor%}
        </div>
    </div>  
</section>
{% endblock %}