{% extends "base/base.html" %}
{% load i18n %}

        {% block main_container %}
        <div class="main-container">
            <section class="imageblock switchable feature-large height-100">
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                    <div class="background-image-holder"> <img alt="image" src="/static/base/img/sign-side.jpg"> </div>
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2>{% trans "Become a member of PyCM" %}<br></h2>
                            <p class="lead">{% trans "Register and contribute to evolution of the Community" %}<br></p>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12"> {{ form.username }} </div>
                                    {{ form.errors.username }}
                                    <div class="col-12"> {{ form.email }} </div>
                                    {{ form.errors.email}}
                                    <div class="col-12"> {{ form.password }} </div>
                                    {{ form.errors.password}}
                                    <div class="col-12"> {{ form.password1 }} </div>
                                    {{ form.errors.password1 }}
                                    <div class="col-12"> <button type="submit" class="btn btn--primary type--uppercase">{% trans "Create account" %}</button> </div>
                                    <div class="col-12 text-center"> <span class="type--fine-print">{% trans "By signing up, you agree to the" %} <a href="#">Terms of Service</a></span> </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {% endblock %}